{% extends 'base.html' %}
{% load static %}
{% load faq_tags %}

{% block title %}Financing - Used Car & Motorcycle Loan{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'apploan/css/used-cm-loan.css' %}">
{% endblock %}

{% block content %}

{% include 'apploan/modals/apply.html' with form=apply_form %}
{% include 'apploan/modals/enquire.html' with form=enquiry_form %}


<div class="used-loan-banner">
    <div class="banner-content">
        <h1 class="hero-title">
            Used Car & Motorcycle<br>
            Loan<span class="title-sub"> — Fast Approval</span>
        </h1>
        <p class="desc">
            Give Yourself the Best Chance To Get a Great Loan Deal
        </p>
        <a href="" class="cta-btn button" data-bs-toggle="modal" data-bs-target="#applyNowModal">Apply Now</a>
    </div>
    <div class="banner-image"></div>
    <!--<img src="{% static 'apploan/images/yellow-used.png' %}" alt="Transparent Header" class="header-img">-->
    {% if header_image %}
        <img src="{{ header_image.image.url }}" alt="Header Image" class="header-img">
    {% else %}
        <img src="{% static 'apploan/images/yellow-used.png' %}" alt="Default Header" class="header-img">
    {% endif %}
</div>

<div class="loan-card container">
  <h2>Fast Facts: Used Car & Motorcycle Loans</h2>

  {% with rate=loan_rates.used_cm %}
    <div class="row features-row text-center">
      <div class="col-12 col-md feature">
        <div class="note">From*</div>
        <div class="value">{{ rate.interest_rate }}%</div>
        <div class="label">Interest Rate</div>
      </div>
      <div class="col-12 col-md feature">
        <div class="note">Since 2000</div>
        <div class="value">100%</div>
        <div class="label">Approval Rate</div>
      </div>
      <div class="col-12 col-md feature">
        <div class="note">As Fast As*</div>
        <div class="value">1–2 Days</div>
        <div class="label">Loan Approval</div>
      </div>
      <div class="col-12 col-md feature">
        <div class="note">Up To*</div>
        <div class="value">7 Years</div>
        <div class="label">Loan Tenure</div>
      </div>
      <div class="col-12 col-md feature">
        <div class="note">Up To*</div>
        <div class="value">{{ rate.financing }}%</div>
        <div class="label">Financing</div>
      </div>
    </div>
  {% endwith %}

  <div class="terms-rate text-center mt-4">
    <p class="t-and-c small text-muted">
      *Terms & Conditions apply. 
      <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Car loan interest rate offers at SGVehicleLoans ranges from 1.68% &#8211; 
      6.68% and may vary based on vehicle type, loan type, loan amount, repayment period, past and present financial or credit status and 
      other eligibility criteria. We cover various vehicle types such as normal cars, sports and exotic cars, commercial vehicles,
      Private Hire Vehicles (PHV), rental vehicles, COE cars, vans, lorries, trucks and buses — from light to heavy industry vehicles."></i>
  </div>
</div>

<div class="direct-loan-wrapper py-5">
  <div class="container">
    <div class="row align-items-center g-5">

      <!-- Left Text -->
      <div class="col-lg-6">
        <h1 class="fw-bold mb-4">
          Get the Lowest Rates on Your Used Ride
        </h1>
        <p class="lead text-muted mb-4">
          Flexible Financing Options for Every Rider
        </p>

        <ul class="list-unstyled feature-list">
          <li><i class="fas fa-check-circle me-2 text-primary"></i> The best rates and flexible loan terms</li>
          <li><i class="fas fa-check-circle me-2 text-primary"></i> Loans tailored to your budget and needs</li>
          <li><i class="fas fa-check-circle me-2 text-primary"></i> Complete management of all processes and paperwork at no extra charge</li>
          <li><i class="fas fa-check-circle me-2 text-primary"></i> Secure and trustworthy process</li>
        </ul>

        <p class="mt-4 text-muted">
          Whether it’s your first ride or an upgrade, SGVehicleLoans makes financing simple. Our experts help you secure the most affordable loan,
          so you can ride with confidence and financial ease.
        </p>
      </div>

      <!-- Right Image -->
      <div class="col-lg-6">
        <h1 class="fw-bold mb-4">
          Your Journey to Affordable Used Car Loans
        </h1>
        <p class="lead text-muted mb-4">
          Expert Support Every Step of the Way
        </p>

        <ul class="list-unstyled feature-list">
          <li><i class="fas fa-check-circle me-2 text-primary"></i> Personalized service to match your budget, needs, and financial situation</li>
          <li><i class="fas fa-check-circle me-2 text-primary"></i> Handling of all paperwork, bank, and LTA processing</li>
          <li><i class="fas fa-check-circle me-2 text-primary"></i> Saving you time and money while making the process seamless</li>
          <li><i class="fas fa-check-circle me-2 text-primary"></i> Offer exclusive rates available only through SGVehicleLoans</li>
        </ul>

        <p class="mt-4 text-muted">
          Guiding you to secure the most affordable used car loan, handling every step of the process so you can drive your car
          with complete confidence, peace of mind, and financial ease.
        </p>
      </div>

    </div>
  </div>
</div>

<div class="company-container container">
  <div class="text-center mb-5">
    <h2 class="company-heading">Why Get a Car & Motorcycle Loan From SGVehicleLoans?</h2>
      <div class="mx-auto my-3" style="width: 150px; height: 3.5px; background: linear-gradient(90deg, #0c4d99, #007dc5ff);"></div>
    <p class="calc-subheading">Finance Your Used Car or Motorcycle with Confidence.</p>
  </div>

    <!-- Company Competence -->
    <h2 class="cards-heading">Company Competence</h2>
    <div class="row cards-wrapper">
      <div class="col-12 col-md-6 col-lg-3 info-card">
        <div class="icon"><i class="fa fa-money-bill-wave"></i></div>
        <div class="text"> $1.7 Billion in Car & Motorcycle Loan Transactions </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 info-card">
        <div class="icon"><i class="fa fa-handshake"></i></div>
        <div class="text"> Trusted by Thousands of Singaporeans and PRs </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 info-card">
        <div class="icon"><i class="fa fa-university"></i></div>
        <div class="text"> Strong Network of Banks and Financial Institutions </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 info-card">
        <div class="icon"><i class="fa fa-users"></i></div>
        <div class="text"> Experienced Car & Motorcycle Finance Experts </div>
      </div>
    </div>

    <!-- Competitive Distinction -->
    <h2 class="cards-heading">Competitive Distinction</h2>
    <div class="row cards-wrapper">
      <div class="col-12 col-md-6 col-lg-3 info-card">
        <div class="icon"><i class="fa fa-percent"></i></div>
        <div class="text"> Lowest Interest Rates </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 info-card">
        <div class="icon"><i class="fa fa-clock"></i></div>
        <div class="text"> Fast Loan Approval </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 info-card">
        <div class="icon"><i class="fa fa-car"></i></div>
        <div class="text"> Financing for All Car & Motorcycle Types </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 info-card">
        <div class="icon"><i class="fa fa-star"></i></div>
        <div class="text"> Exclusive Offers Only Available Here </div>
      </div>
    </div>

    <!-- Free Assistance & Services -->
    <h2 class="cards-heading">Free Assistance & Services</h2>
    <div class="row cards-wrapper">
      <div class="col-12 col-md-6 col-lg-3 info-card">
        <div class="icon"><i class="fa fa-file-alt"></i></div>
        <div class="text"> Paperwork Handled for You </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 info-card">
        <div class="icon"><i class="fa fa-phone-alt"></i></div>
        <div class="text"> Personalized Consultation </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 info-card">
        <div class="icon"><i class="fa fa-car-side"></i></div>
        <div class="text"> Vehicle Financing Guidance </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 info-card">
        <div class="icon"><i class="fa fa-clock"></i></div>
        <div class="text"> Save Time with Fast Processing </div>
      </div>
    </div>

</div>

<div class="eligibility-container container">
  <h2 class="eligibility-heading">Eligibility Criteria for Used Car & Motorcycle Loan</h2>

  <div class="eligibility-list">
    <div class="eligibility-item">
      <span class="check-icon">✔</span>
      Applicants should be between 21 – 65 years of age
    </div>

    <div class="eligibility-item">
      <span class="check-icon">✔</span>
      Singaporeans, Singapore PRs, Foreigners
    </div>
  </div>
</div>

<div class="req-container container">
<h2 class="req-heading">Requirements for Used Car & Motorcycle Loan</h2>

  <div class="req-item">
    <div class="req-content">

      <!-- COLLAPSIBLE ITEM 1 -->
      <div class="req-collapse">
        <div class="req-title">
          <span>Individual (Local)</span>
          <span class="toggle">+</span>
        </div>
        <div class="req-body">
          <p><strong>Buyer</strong></p>
          <ul>
            <li>Page 1 of Loan Application Form (1 Copy – Signed, Filled & Completed)</li>
            <li>Clear Copy of NRIC (Front & Back)</li>
            <li>Income Documents (Any of the Following):
              <ul>
                <li>Latest 12 Months CPF Contribution Assessment</li>
                <li>Last 2 Years Notice of Assessment (NOA)</li>
                <li>Latest 6 Months Computerised Payslip or Latest 3 Months Bank Statement if Self-Employed</li>
              </ul>
            </li>
            <li>Sales & Purchase Agreement of Purchased Vehicle</li>
            <li>Copy of Enquire PARF / COE Rebate for Registered Vehicle</li>
          </ul>
          <p><strong>Seller</strong></p>
          <ul>
            <li>Vehicle Log Card / Acknowledgement</li>
            <li>Clear Copy of NRIC (Front & Back)</li>
            <li>Authorization Form To Check Full Settlement (if Vehicle Is Still Under Financing)</li>
          </ul>
          <p><strong>Guarantor</strong></p>
          <ul>
            <li>Page 2 of Loan Application Form (1 Copy – Signed, Filled & Completed)</li>
            <li>Clear Copy of NRIC (Front & Back)</li>
            <li>Income Documents (Any of the Following):
              <ul>
                <li>Latest 12 Months CPF Contribution Assessment</li>
                <li>Last 2 Years Notice of Assessment (NOA)</li>
                <li>Latest 6 Months Computerised Payslip or Latest 3 Months Bank Statement if Self-Employed</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- COLLAPSIBLE ITEM 2 -->
      <div class="req-collapse">
        <div class="req-title">
          <span>Individual (Foreigner)</span>
          <span class="toggle">+</span>
        </div>
        <div class="req-body">
          <p><strong>Buyer</strong></p>
          <ul>
            <li>Page 1 of Loan Application Form (1 Copy – Signed, Filled & Completed)</li>
            <li>Clear Copy of Passport</li>
            <li>Clear Copy of Employment Pass</li>
            <li>Income Documents (Any of the Following):
              <ul>
                <li>Latest 12 Months CPF Contribution Assessment</li>
                <li>Last 2 Years Notice of Assessment (NOA)</li>
                <li>Latest 6 Months Computerised Payslip or Latest 3 Months Bank Statement if Self-Employed</li>
              </ul>
            </li>
            <li>Sales & Purchase Agreement of Purchased Vehicle</li>
            <li>Copy of Enquire PARF / COE Rebate for Registered Vehicle</li>
          </ul>
          <p><strong>Seller</strong></p>
          <ul>
            <li>Vehicle Log Card / Acknowledgement</li>
            <li>Clear Copy of NRIC (Front & Back)</li>
            <li>Authorization Form To Check Full Settlement (if Vehicle Is Still Under Financing)</li>
          </ul>
          <p><strong>Guarantor (Must be a Singaporean)</strong></p>
          <ul>
            <li>Page 2 of Loan Application Form (1 Copy – Signed, Filled & Completed)</li>
            <li>Clear Copy of NRIC (Front & Back)</li>
            <li>Income Documents (Any of the Following):
              <ul>
                <li>Latest 12 Months CPF Contribution Assessment</li>
                <li>Last 2 Years Notice of Assessment (NOA)</li>
                <li>Latest 6 Months Computerised Payslip or Latest 3 Months Bank Statement if Self-Employed</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- COLLAPSIBLE ITEM 3 -->
      <div class="req-collapse">
        <div class="req-title">
          <span>Company</span>
          <span class="toggle">+</span>
        </div>
        <div class="req-body">
          <p><strong>Buyer</strong></p>
          <ul>
            <li>Page 1 of Loan Application Form (1 Copy With Company Chop – Signed, Filled & Completed)</li>
            <li>Clear Copy of ACRA Document (Within 3 Months)</li>
            <li>Latest 3 Months Bank Statement</li>
            <li>Sales & Purchase Agreement of Purchased Vehicle</li>
          </ul>
          <p><strong>Seller</strong></p>
          <ul>
            <li>Vehicle Log Card / Acknowledgement</li>
            <li>Clear Copy of NRIC (Front & Back)</li>
            <li>Authorisation Form To Check Full Settlement (if Vehicle Is Still Under Financing)</li>
          </ul>
          <p><strong>Guarantor (Director of Company)</strong></p>
          <ul>
            <li>Page 2 of Loan Application Form (1 Copy – Signed, Filled & Completed)</li>
            <li>Copy of NRIC (Front & Back)</li>
            <li>Income Documents (Any of the Following):
              <ul>
                <li>Latest 12 Months CPF Contribution Assessment</li>
                <li>Last 2 Years Notice of Assessment (NOA)</li>
                <li>Latest 6 Months Computerised Payslip or Latest 3 Months Bank Statement if Self-Employed</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- BUTTONS BELOW -->
    <div class="procedure-buttons">
        <a href="#" class="btn apply-btn" data-bs-toggle="modal" data-bs-target="#applyNowModal">Apply Now</a>
        <a href="#" class="btn enquire-btn" data-bs-toggle="modal" data-bs-target="#enquireNowModal">Enquire Now</a>
    </div>

    </div>
  </div>

</div>

<div class="container rate">
  <!-- Heading -->
  <div class="text-center">
    <h2 class="rate-heading">Used Car & Motorcycle Loan Interest Rate</h2>
    <div class="mx-auto my-3" style="width: 150px; height: 3.5px; background: linear-gradient(90deg, #0c4d99, #007dc5ff);"></div>
    <p class="rate-subheading">Compare our rates with other companies</p>
  </div>

  <!-- Cards with vertical line -->
  <div class="d-flex justify-content-center align-items-stretch gap-4 flex-wrap">

    {% with rate=loan_rates.used_cm %}
    <!-- Card 1 -->
    <div class="rate-card text-center p-4 ">
      <h6 class="txt-hd text-secondary mb-2">Exclusive at SGVehicleLoans</h6>
      <p class="txt-from text-muted mb-1">From*</p>
      <h1 class="fw-bold mb-2 text-primary">{{ rate.interest_rate }}%</h2>
      <p class="txt-rate text-muted mb-0">Interest Rate</p>
    </div>

    <!-- Vertical Divider -->
    <div class="vertical-divider d-none d-md-block"></div>
  
    <!-- Card 2 -->
    <div class="rate-card text-center p-4 ">
      <h6 class="txt-hd text-secondary mb-2">Other Companies</h6>
      <p class="txt-from text-muted mb-1">From</p>
      <h1 class="fw-bold mb-2 text-danger">{{ rate.int_rate_other }}%</h1>
      <p class="txt-rate text-muted mb-0">Interest Rate</p>
    </div>
    {% endwith %}

  </div>

  <!-- Terms & Conditions -->
  <div class="terms-rate text-center mt-4">
    <p class="small text-muted">
      *Terms & Conditions apply. 
      <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Car loan interest rate offers at SGVehicleLoans range from 1.68% - 6.68% and may vary based on vehicle type, loan type, loan amount, repayment period, past and present financial or credit status and other eligibility criteria."></i>
    </p>
  </div>
</div>

<div class="container calc my-5">
  {% include "apploan/content/loan-calc.html" %}
</div>

<div class="text-center mb-5">
  <h2 class="procedure-heading">Procedure & Online Application for Used Car & Motorcycle Loan</h2>
    <div class="mx-auto my-3" style="width: 150px; height: 3.5px; background: linear-gradient(90deg, #0c4d99, #007dc5ff);"></div>
  <p class="procedure-subheading">Get a Used Car & Motorcycle Loan in 3 Easy Steps!</p>
</div>

<div class="steps-container">

  <!-- STEP 1 -->
  <div class="card card-proc">
    <div class="card__body">
      <div class="card__icon">
        <svg height="32" width="32" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 4.5h18M3 9.5h18M3 14.5h18M3 19.5h18" stroke-linecap="round"></path>
        </svg>
      </div>

      <p class="card__title">Step 1 – Fill Application</p>
      <p class="card__paragraph">
        Fill out our online form or contact us at (+65) 1111 2222 / (+65) 2222 1111. 
      </p>
    </div>

    <div class="card__ribbon">
      <label class="card__ribbon-label">01</label>
    </div>
  </div>

  <!-- STEP 2 -->
  <div class="card card-proc">
    <div class="card__body">
      <div class="card__icon">
        <svg height="32" width="32" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 4h16v6H4zM4 14h16v6H4z" stroke-linecap="round"></path>
        </svg>
      </div>

      <p class="card__title">Step 2 – Submit Documents</p>
      <p class="card__paragraph">
        Email your required/signed documents to loans@sgvehicleloans.com
      </p>
    </div>

    <div class="card__ribbon">
      <label class="card__ribbon-label">02</label>
    </div>
  </div>

  <!-- STEP 3 -->
  <div class="card card-proc">
    <div class="card__body">
      <div class="card__icon">
        <svg height="32" width="32" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 12l5 5L20 7" stroke-linecap="round"></path>
        </svg>
      </div>

      <p class="card__title">Step 3 – Approval</p>
      <p class="card__paragraph">
        Our finance team will notify you via email or call regarding your application result.
      </p>
    </div>

    <div class="card__ribbon">
      <label class="card__ribbon-label">03</label>
    </div>
  </div>

</div>


{% get_faqs "used" as faqs %}
{% include "apploan/content/faq.html" with faqs=faqs faq_title="Used Car & Motorcycle Loan FAQ" %}

{% endblock %}


