.faq-hero-spotlight {
  position: relative;
  padding: 265px 20px;
  height: 65vh;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('../images/faq.jpg') center/cover no-repeat;
  color: white;
  border-radius: 15px;
}

.spot-content {
  position: relative;
  z-index: 1;
}

.spot-content h1 {
  font-size: 2.8rem;
}

.spot-content p {
  margin-top: 15px;
  font-size: 1.15rem;
}


/* Mobile card adjustments */
@media (max-width: 768px) {
  .faq-hero-spotlight {
    position: relative;
    padding: 165px 20px;
    text-align: center;
    color: white;
  }
}